accent = #F60
text-light = #2C3E50
text-light-hover = #111
text-dark = #D3C1AF
text-dark-hover = #EEE

.light
  background-color #FAFAFA
  .news-item
    background-color #FAFAFA
    border-color #EAEAEA
    .title
      a
        color text-light
        &:hover
          color text-light-hover
    .meta
      color #828282
  .footer
    color text-light
    a
      color text-light
      &:hover
        color text-light-hover

.dark
  background-color #222
  .news-item
    background-color #222
    border-color #333
    .title
      a
        color text-dark
        &:hover
          color text-dark-hover
    .meta
      color #7D7D7D
  .footer
    color text-dark
    a
      color text-dark
      &:hover
        color text-dark-hover
