accent           = #F60

bg-light         = #FAFAFA
text-light       = #2C3E50
text-light-hover = #111
border-light     = #EAEAEA
meta-light       = #828282

bg-dark          = #222
text-dark        = #D3C1AF
text-dark-hover  = #EEE
border-dark      = #333
meta-dark        = #7D7D7D

.light
  background-color bg-light

  .back
    color text-light
    &:hover
      color text-light-hover

  .title
    color text-light

  .news-item
    background-color bg-light
    border-color border-light
    .title
      a
        color text-light
        &:hover
          color text-light-hover
    .meta
      color meta-light

  .footer
    color text-light
    a
      color text-light
      &:hover
        color text-light-hover

  .comment-item
    background-color bg-light
    border-color border-light
    .text
      color text-light
    .meta
      color meta-light

.dark
  background-color bg-dark

  .back
    color text-dark
    &:hover
      color text-dark-hover
  
  .title
    color text-dark

  .news-item
    background-color bg-dark
    border-color border-dark
    .title
      a
        color text-dark
        &:hover
          color text-dark-hover
    .meta
      color meta-dark

  .footer
    color text-dark
    a
      color text-dark
      &:hover
        color text-dark-hover

  .comment-item
    background-color bg-dark
    border-color border-dark
    .text
      color text-dark
    .meta
      color meta-dark
